@import "tailwindcss";
@config "../../tailwind.config.ts";

@theme {
  --font-sans: var(--font-sans), sans-serif;
  --font-mono: var(--font-mono), monospace;
}

body {
  background-color: #ffffff;
  color: #001e66;
}
